body{
	font-family: 'Open Sans',sans-serif;
    background: linear-gradient(329.54deg, #1b1b2f 0%, #162447 100%) no-repeat;
}

#container{
	width: 1000px;
	height: 550px;
	margin: 200px auto;	
}

#calculadora{
	width: 390px;
	height: 520px;
	background-color: #1b1b2f;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#resultado{
	height: 120px;
}
#historico{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}

#saida{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
    color: white;
}

#botoes{
	height: 300px;
}

.operador, .numero, .vazio{
	width: 50px;
	height: 50px;
	margin: 14px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}

.numero, .operador, .vazio{
	background-color: #1f4068;
}

.numero, .operador{
	cursor: pointer;
}

.operador:active, .numero:active{
	font-size: 13px;
}

.operador:focus, .numero:focus, .vazio:focus{
	outline: 0;
}

button:nth-child(4){
	font-size: 20px;
	background-color: #FF00FF;
}
button:nth-child(9){
	font-size: 20px;
	background-color: #FFD700;
}
button:nth-child(14){
	font-size: 20px;
	background-color: #CD5C5C;
}
button:nth-child(19){
	font-size: 20px;
	background-color: #00BFFF;
}
button:nth-child(24){
	font-size: 20px;
	background-color: #00FA9A;
}
button:nth-child(5){
	font-size: 20px;
	background-color: #D3D3D3;
}
button:nth-child(10){
	font-size: 20px;
	background-color: #D3D3D3;
}
button:nth-child(15){
	font-size: 20px;
	background-color: #D3D3D3;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #D3D3D3;
}
button:nth-child(25){
	font-size: 20px;
	background-color: #D3D3D3;
}